$teal: #00878F;
$lightTeal: #62AEB2;
$orange: #E47128;
$yellow: #E5AD24;
$brown: #8C7965;

$primary:       $teal;
$secondary:     $brown;
$info:          $lightTeal;
$warning:       $yellow;
$danger:        $orange;